# Dependencies
node_modules
npm-debug.log*

# Build output
.next
out
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile

# Config/Env
.env
.env.local
.env.*.local

# Dev tools
.husky
*.md
tsconfig.tsbuildinfo
