# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres.nafktnklkcjnuyojstnh:[YOUR-PASSWORD]@aws-0-eu-north-1.pooler.supabase.com:6543/postgres"

# Redis (for Background Jobs / BullMQ)
REDIS_URL="redis://localhost:6379"

# Authentication
AUTH_SECRET="super-secret-key-replace-in-production"
BETTER_AUTH_URL="http://localhost:3000"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
